<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" port="0">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full" />
					</serverProviders>
				</channel>
			</channels>
			<client>
				<wellknown type="Wescale.DevTestCommon.IPingService, DevTestCommon" url="tcp://localhost:27771/PingService" />
				<wellknown type="Wescale.DevTestCommon.IMathService, DevTestCommon" url="tcp://localhost:27771/M𝒶thService" />
				<wellknown type="Wescale.DevTestCommon.IUserService, DevTestCommon" url="tcp://localhost:27771/UserService" />
			</client>
		</application>
	</system.runtime.remoting>
</configuration>