<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

	<!-- Remoteobjekte -->
	<system.runtime.remoting>
		<application>
			<channels>
				<!-- Port anpassen! -->
				<channel ref="tcp" port="27771">
					<clientProviders>
						<formatter ref="binary" />
					</clientProviders>
				</channel>
			</channels>
			<service>
				<wellknown type="Wescale.DevTestCon.PingService, DevTestCon" objectUri="PingService" mode="Singleton" />
				<wellknown type="Wescale.DevTestCon.MathService, DevTestCon" objectUri="MathService" mode="Singleton" />
        <wellknown type="Wescale.DevTestCon.UserService, DevTestCon" objectUri="UserService" mode="Singleton" />
			</service>
		</application>
		<customErrors mode="Off" />
	</system.runtime.remoting>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq.EagerFetching" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
